.btn-container {
    position: relative;
    width: 50%;
  }
.card-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(126, 15, 141);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn-container .card-btn:hover {
    background-color: rgb(19, 3, 78);
  }